body {
    max-width:100%;
    width: 100vw;
    height: auto;
    margin: 0 auto;
}

#logo {
    max-height: 80px;
    margin-left: 10px;
}

.btn_azul {
    background-color: white;
    color: #65cfcf;
    border: solid 2px #65cfcf;
    font-size: large;
}

.btn_azul:hover {
    background-color: #65cfcf;
    border: solid 2px #65cfcf;
    color: white;
}

.btn_amarelo {
    background-color: white;
    color: #edca2d;
    border: solid 2px #edca2d;
    font-size: large;
}

.btn_amarelo:hover {
    background-color: #edca2d;
    border: solid 2px #edca2d;
    color: white;
}
/* Homepage */
nav.navbar {
    background-color: rgb(3, 190, 128);
    padding: 0;
}

nav>div>ul>li>a {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

nav>div>ul>li>a:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.11);
}

header {
    max-width:100%;
    width: 100vw;
    height: 180px;
    margin: 0 auto;
    background-image: url("../img/so_animais.jpg");
}

section {
    max-width:100%;
    width: 100vw;
    padding: 30px 10px;
    clear: both;
    overflow: auto;
}

section.home:first-of-type {
    display: flex;
    justify-content: center;
    padding: 0;
}

section.home:last-of-type {
    background-color: rgb(247, 247, 247);
}

.home a {
    color: white;
    text-decoration: none;
    clear: both;
}

.home a:hover {
    color: rgba(255, 255, 255, 0.705);
}

.cad_btn {
    font-size: large;
    margin: 25px 20px 10px;
}

.mais_btn {
    color: white;
    background-color: rgb(3, 190, 128);
    margin-right: 5px;
}

#card_container {
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 0px 20px 10px 0px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    clear: both;
    overflow: auto;
}

.card {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 20px;
    width: 15rem;
}

.card:hover {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
}

div.card>img {
    height: 14rem;
    object-fit: cover;
}

div.card>div.container {
    padding: 5px 10px;
}

.modal-body {
    display: flex;
    flex-direction: row;
}

div.modal-body>img {
    height: 18rem;
    max-width: 14rem;
    object-fit: cover;
}

.modal_texto {
    padding: 8px;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 850px) {
    .card_3 {
        display: none;
    }
}

@media (max-width: 620px) {
    section:first-of-type {
        flex-direction: column;
    }

    #card_container {
        flex-direction: column;
    }

    .modal-body {
        display: flex;
        flex-direction: column;
    }

    div.modal-body>img {
        height: 15rem;
        object-fit: cover;
    }
}

/* Login */
body.login {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("../img/patas_wallpaper.jpg");
}

main.login {
    display: flex;
    flex-direction: row;
    align-self: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 0;
    margin: 0 auto;
}

section.login:first-of-type {
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    min-height: 200px;
}

section.login {
    padding: 50px;
    background-color: white;
    font-size: large;
}

form>div:last-of-type {
    text-align: center;
}

form>div>button.btn_azul {
    padding: 6px;
    margin: 15px;
    width: 50%;
}
